
.ajax-loader {
  display: block;
position: absolute;
top: 0;
left: 0;
z-index: 1051;
width: 100vw;
height: 100vh;
background-color: rgba(192, 192, 192, 0.5);
background-image: url('../images/loader.gif');
background-repeat: no-repeat;
background-position: center;}
/* visibility: hidden; */
/* display: none; */
/* background-color: rgba(255,255,255,0.7);
position: absolute;
z-index: 1051 !important;
width: 100%;
height:100%; */
/* } */


.ajax-loader img {
position: relative;
top:50%;
left:50%;
}

.unread-noti
{
  background-color: #f3f5fb;
}

.card-body-notification
{
  padding: 0.5rem;
}


#option {
    margin: 1px;
    padding: 0;
    margin-top: 15px;
    text-align: left;
}
.fieldset-border
{
  BORDER: 1px SOLID #CCCCCC;
    border-radius: 5px;
}

.legend-border
{
  width: auto !important;
  color: #267DDC;
  margin-left: 10px;
  border-bottom: 0px !important;
}

.message-font
{
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  color:#FF0000;
  font-weight: bold;
}

pre {
    white-space: pre-wrap;
}
.message-format {
    display: block !important;
    word-wrap: break-word !important;
}

.conversation-text-W-100
{
  width: 100% !important;
}

.mr-5
{
  margin-right:5px;
}